kube-prometheus-stack:
  grafana:
    enabled: true
    adminPassword: "admin"
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 300m
        memory: 384Mi

  alertmanager:
    enabled: false

  prometheus:
    prometheusSpec:
      retention: 2d
      scrapeInterval: 30s
      evaluationInterval: 30s
      resources:
        requests:
          cpu: 200m
          memory: 600Mi
        limits:
          cpu: 700m
          memory: 1400Mi

  kube-state-metrics:
    resources:
      requests:
        cpu: 50m
        memory: 96Mi
      limits:
        cpu: 200m
        memory: 256Mi

  prometheus-node-exporter:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 150m
        memory: 128Mi

  prometheusOperator:
    resources:
      requests:
        cpu: 100m
        memory: 200Mi
      limits:
        cpu: 300m
        memory: 400Mi

  kubeEtcd:
    enabled: false
  kubeControllerManager:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeProxy:
    enabled: false
