env:
  - name: KAFKA_CLUSTERS_0_NAME
    value: lab
  - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
    value: lab-kafka-bootstrap.kafka:9092

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 512Mi
